@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
@import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Общие стили */
html, body { width:100vw; height:100vh; } /* just to be sure these are full screen*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  overflow: hidden; user-select: none; background: #000000;
}
.music_checkbox {

}

.sound_checkbox {

}

#particles-js{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;

  top: 0px;
  z-index:1;
}
canvas { 
  overflow: hidden;
  width:100vw;
  height:100vh;
  background-color:black;
}
.stage {
  height: 300px;
  width: 500px;
  margin: auto;
  position: absolute;
  top: -215px;
  right: 250px;
  bottom: 500px;
  left: -550px;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

.layer:after {
  font: 150px/0.65 "Pacifico", "Kaushan Script", Futura, "Roboto", "Trebuchet MS", Helvetica, sans-serif;
  content: "Birn\a    Outside";
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
  color: whitesmoke;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after {
  transform: translateZ(0px);
}

.layer:nth-child(2):after {
  transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
  transform: translateZ(-3px);
}

.layer:nth-child(4):after {
  transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
  transform: translateZ(-6px);
}

.layer:nth-child(6):after {
  transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
  transform: translateZ(-9px);
}

.layer:nth-child(8):after {
  transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
  transform: translateZ(-12px);
}

.layer:nth-child(10):after {
  transform: translateZ(-13.5px);
}

.layer:nth-child(11):after {
  transform: translateZ(-15px);
}

.layer:nth-child(12):after {
  transform: translateZ(-16.5px);
}

.layer:nth-child(13):after {
  transform: translateZ(-18px);
}

.layer:nth-child(14):after {
  transform: translateZ(-19.5px);
}

.layer:nth-child(15):after {
  transform: translateZ(-21px);
}

.layer:nth-child(16):after {
  transform: translateZ(-22.5px);
}

.layer:nth-child(17):after {
  transform: translateZ(-24px);
}

.layer:nth-child(18):after {
  transform: translateZ(-25.5px);
}

.layer:nth-child(19):after {
  transform: translateZ(-27px);
}

.layer:nth-child(20):after {
  transform: translateZ(-28.5px);
}

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(185, 30, 30, 0.25);
}

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px rgb(1, 4, 7);
  text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #ea0000;
}

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
  color: #fff;
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% {
    transform: rotateY(-40deg) rotateX(-43deg);
  }
}

:root, button{
  font-family: 'Raleway', serif;
}

*{
  box-sizing: border-box;
}

.color{
  background: linear-gradient(to right, #e1e0ff, #d7fadd);
}

body{
  background: #191919;
  background: white;
  user-select: none;
  letter-spacing: 3px;
  color: #b9b9b9;
}

h1{
  padding-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
}

p{
  padding-bottom: 15px;
}

p:last-of-type{
  padding-bottom: 0;
}

.try-again{
  cursor: pointer;
  position: relative;
  font-size: 16px;
}

.try-again:after{
  content: '';
  position: absolute;
  left: 15px;
  right: 15px;
  height: 1px;
  top: 100%;
  background: #ebebeb;
  margin-top: 8px;
  transition: all 0.3s ease;
}

.try-again:hover:after{
  left: 40%;
  right: 40%;
}

.wrapper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  background: none;
  outline: none;
  position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 2px;
  transition: all 0.5s ease;
  font-weight: 600;
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.06);
  border-radius: 0px;
  box-shadow: 0 0 0 white, 0 0 0 white;
}

.button-text{
  display: inline-block;
  position: relative;
  z-index: 2;
  background: linear-gradient(to right, #504bff, #4cfa63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-circle{
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  box-shadow: 0 0 10px #504bff, 0 0 20px #504bff, 0 0 30px #504bff;
  transition: all 0.5s ease;
}

.button-circle2{
  top: auto;
  bottom: 0;
}

.button-circle3{
  left: auto;
  right: 0;
  box-shadow: 0 0 10px #4cfa63, 0 0 20px #4cfa63, 0 0 30px #4cfa63;
}

.button-circle4{
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 10px #4cfa63, 0 0 20px #4cfa63, 0 0 30px #4cfa63;
}

.button:hover{
  box-shadow: -15px 0 70px -15px #504bff, 15px 0 70px -15px #4cfa63;
}

.button:hover .button-circle1{
  transform: translate(-15px, -15px) scale(0);
}

.button:hover .button-circle2{
  transform: translate(-15px, 15px) scale(0);
}

.button:hover .button-circle3{
  transform: translate(15px, -15px) scale(0);
}

.button:hover .button-circle4{
  transform: translate(15px, 15px) scale(0);
}

.button:hover .button-circle{
  box-shadow: none;
}

.popup{
  opacity: 0;
  visibility: hidden;
  height: 400px;
  width: 400px;
  flex-shrink: 0;
  border-radius: 3px;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease
}

.popup-inside{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 0 black;
  transition:
          box-shadow 0.5s ease 0.7s,
          border-radius 0.35s ease 0.7s;
}

.backgrounds{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background{
  --offset: 0;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: linear-gradient(to right, #504bff, #4cfa63);
  transform: scale(0);
  transition: all 0.5s ease 0s;
  border-radius: 50%;
}

.background2{
  --offset: 10%;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: linear-gradient(to right, #6665ff, #69fa7f);
  transform: scale(0);
  transition: all 0.5s ease 0.1s;
}

.background3{
  --offset: 20%;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: linear-gradient(to right, #8583ff, #85fa99);
  z-index: 2;
  transition: all 0.5s ease 0.2s;
}

.background4{
  --offset: 30%;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: linear-gradient(to right, #aaaaff, #a7fab7);
  z-index: 3;
  transition: all 0.5s ease 0.3s;
}

.background5{
  --offset: 40%;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: linear-gradient(to right, #c9c8ff, #c3fad1);
  z-index: 4;
  transition: all 0.5s ease 0.4s;
}

.background6{
  --offset: 40%;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: white;
  z-index: 5;
  transition: all 0.8s ease 0.4s;
}

.content{
  --offset: 0;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.35s ease 0.75s;
  z-index: 10;
}

.content-wrapper{
  text-align: center;
}

body.active .content{
  opacity: 1;
  transform: none;
}

body.active .popup{
  opacity: 1;
  visibility: visible;
}

body.active .popup-inside{
  border-radius: 0;
  box-shadow: -50px 0 200px -50px #504bff, 50px 0 200px -50px #4cfa63;
}

body.active .background{
  transform: scale(1);
}

body.active .background6{
  transform: scale(8);
}

.menu-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.typing {
  padding: 20px 30px;
  font-size: 36px;
  line-height: 46px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.typing span {
  color: black;
  animation: 2.5s typing-color infinite;
}

@keyframes typing-color {
  50% {
    color: #ff0000;
  }
}




@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%;
    background-size: 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%;
  }
  50% {
    background-position: 0% 80%, 20% 80%;
  }
  100% {
    background-position: 0% 90%, 20% 90%;
    background-size: 0% 0%, 0% 0%;
  }
}

/* Модальное окно настроек */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgba(14, 6, 49, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 150px;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

#text-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  border-top: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

#character-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#dialogue-text {
  font-size: 18px;
}

.character {
  position: absolute;
  bottom: 150px;
  width: 300px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#character-left {
  left: 50px;
}

#character-right {
  right: 50px;
}

.anus_text {
  float: right;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5%;
  transform: translate(0, -50%);
  margin: 0;
  justify-content: revert-layer;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close {
  float: right;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 1%;
  transform: translate(0, -50%);
  margin: 0;
  justify-content: revert-layer;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.choice-container {
  position: fixed;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  gap: 10px;
  justify-content: center;
}

.choice-button {
  padding: 10px 20px;
  background-color: #8B008B;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.choice-button:hover {
  background-color: #6A006A;
}

.btn-slice {
  padding: 1.2rem 2.5rem;
  border: 2px solid #ffffff;
  border-radius: 0rem;
  color: #ffffff;
  font-size: 0.6875rem;
  width: 28%;
  font-weight: 700;
  letter-spacing: 0.3rem;
  position: relative;
  
  -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}

.btn-slice .top  {
  position: relative;
  height: 6px;
  overflow: hidden;
  top: 0;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
  
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay::0.35s; 
  -ms-transition-delay::0.35s;     
  -o-transition-delay::0.35s;     
  transition-delay::0.35s;
}

.btn-slice .bottom  {
  position: relative;
  height: 6px;
  overflow: hidden;
  bottom: 0;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
  
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay::0.35s; 
  -ms-transition-delay::0.35s;     
  -o-transition-delay::0.35s;     
  transition-delay::0.35s;
}

.btn-slice .bottom span {
  top: -6px;
  position: absolute;
  left: 0;
}

.btn-slice:hover .top {
  top: -5px;
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay::0.35s; 
  -ms-transition-delay::0.35s;     
  -o-transition-delay::0.35s;     
  transition-delay::0.35s; 
}

.btn-slice:hover .bottom {
  bottom: -5px;
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay::0.35s; 
  -ms-transition-delay::0.35s;     
  -o-transition-delay::0.35s;     
  transition-delay::0.35s; 
}
.btn-slice:hover, .btn-slice:focus, .btn-slice:active {
  margin-left: 10px;
}
.btn-slice:before{
  content: '';
  height: 1px;
  width: 60px;
  background-color: #ffffff;
  position: absolute;
  margin-top: 6px;
  right: -35px;
  
  -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}
.btn-slice:hover:before{
  width: 130%;
}

.btn-liquid {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 60px;

  border-radius: 27px;

  color: #fff;
  font: 700 14px/60px "Droid Sans", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-liquid .inner {
  position: relative;

  z-index: 2;
}

.btn-liquid canvas {
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;

  z-index: 1;
}
 
.btn-flip {
  width: 135%;
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
}

.btn-flip:hover::after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:hover::before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip::after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #6f6fe6;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.btn-flip::before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: hsl(240, 32%, 11%);
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

a {
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: #ffffff transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }

}



.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.cursor{
	background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #fff;
	box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
	background: rgba(255,255,255,1);
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px){
	.cursor,.cursor2,.cursor3{
		display: none
	}
}
/* promise me */



@import "compass/css3";

*,
*:after,
*:before {
  box-sizing: border-box;
}

#switch {
  visibility: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
  left: 9999px;
}

.switch {
  display: block;
  width: 130px;
  height: 60px;
  margin: 70px auto;
  position: relative;
  background: #ced8da; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #ced8da 0%,
    #d8e0e3 29%,
    #ccd4d7 34%,
    #d4dcdf 62%,
    #fff9f4 68%,
    #e1e9ec 74%,
    #b7bfc2 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #ced8da),
    color-stop(29%, #d8e0e3),
    color-stop(34%, #ccd4d7),
    color-stop(62%, #d4dcdf),
    color-stop(68%, #fff9f4),
    color-stop(74%, #e1e9ec),
    color-stop(100%, #b7bfc2)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    #ced8da 0%,
    #d8e0e3 29%,
    #ccd4d7 34%,
    #d4dcdf 62%,
    #fff9f4 68%,
    #e1e9ec 74%,
    #b7bfc2 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    #ced8da 0%,
    #d8e0e3 29%,
    #ccd4d7 34%,
    #d4dcdf 62%,
    #fff9f4 68%,
    #e1e9ec 74%,
    #b7bfc2 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    #ced8da 0%,
    #d8e0e3 29%,
    #ccd4d7 34%,
    #d4dcdf 62%,
    #fff9f4 68%,
    #e1e9ec 74%,
    #b7bfc2 100%
  ); /* IE10+ */
  background: linear-gradient(
    to right,
    #ced8da 0%,
    #d8e0e3 29%,
    #ccd4d7 34%,
    #d4dcdf 62%,
    #fff9f4 68%,
    #e1e9ec 74%,
    #b7bfc2 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ced8da', endColorstr='#b7bfc2',GradientType=1 ); /* IE6-9 */
  transition: all 0.2s ease-out;
  cursor: pointer;
  border-radius: 0.35em;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.7),
    inset 0 2px 0 rgba(255, 255, 255, 0.6),
    inset 0 -1px 0 1px rgba(0, 0, 0, 0.3), 0 8px 10px rgba(0, 0, 0, 0.15);
}

.switch:before {
  display: block;
  position: absolute;
  left: -35px;
  right: -35px;
  top: -25px;
  bottom: -25px;
  z-index: -2;
  content: "";
  border-radius: 0.4em;
  background: #d5dde0;
  background: linear-gradient(#d7dfe2, #bcc7cd);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.6),
    inset 0 -1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 8px 2px rgba(0, 0, 0, 0.2),
    0 2px 4px 2px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.switch:after {
  content: "";
  position: absolute;
  right: -25px;
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #788b91;
  margin-top: -8px;
  z-index: -1;
  box-shadow: inset 0 -1px 8px rgba(0, 0, 0, 0.7),
    inset 0 -2px 2px rgba(0, 0, 0, 0.2), 0 1px 0 white,
    0 -1px 0 rgba(0, 0, 0, 0.5), -47px 32px 15px 13px rgba(0, 0, 0, 0.25);
}

#switch:checked ~ .switch {
  background: #b7bfc2; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #b7bfc2 0%,
    #e1e9ec 26%,
    #fff9f4 32%,
    #d4dcdf 38%,
    #ccd4d7 66%,
    #d8e0e3 71%,
    #ced8da 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #b7bfc2),
    color-stop(26%, #e1e9ec),
    color-stop(32%, #fff9f4),
    color-stop(38%, #d4dcdf),
    color-stop(66%, #ccd4d7),
    color-stop(71%, #d8e0e3),
    color-stop(100%, #ced8da)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    #b7bfc2 0%,
    #e1e9ec 26%,
    #fff9f4 32%,
    #d4dcdf 38%,
    #ccd4d7 66%,
    #d8e0e3 71%,
    #ced8da 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    #b7bfc2 0%,
    #e1e9ec 26%,
    #fff9f4 32%,
    #d4dcdf 38%,
    #ccd4d7 66%,
    #d8e0e3 71%,
    #ced8da 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    #b7bfc2 0%,
    #e1e9ec 26%,
    #fff9f4 32%,
    #d4dcdf 38%,
    #ccd4d7 66%,
    #d8e0e3 71%,
    #ced8da 100%
  ); /* IE10+ */
  background: linear-gradient(
    to right,
    #b7bfc2 0%,
    #e1e9ec 26%,
    #fff9f4 32%,
    #d4dcdf 38%,
    #ccd4d7 66%,
    #d8e0e3 71%,
    #ced8da 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7bfc2', endColorstr='#ced8da',GradientType=1 ); /* IE6-9 */
}

#switch:checked ~ .switch:after {
  background: #b1ffff;
  box-shadow: inset 0 -1px 8px rgba(0, 0, 0, 0.7),
    inset 0 -2px 2px rgba(0, 0, 0, 0.2), 0 1px 0 white,
    0 -1px 0 rgba(0, 0, 0, 0.5), -110px 32px 15px 13px rgba(0, 0, 0, 0.25);
}
